<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="kr.co.domain"/>
		<!-- typeAlias 지정시 풀패키지명 쓰지 않아도 되게 된다 -->
		<!-- 
		<typeAlias alias="MemberDTO" type="kr.co.domain.MemberDTO"/>
		 -->
		
	</typeAliases>

</configuration>